@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: "transparent";

    --gray1: hsl(0, 0%, 99%);
    --gray2: hsl(0, 0%, 97.3%);
    --gray3: hsl(0, 0%, 95.1%);
    --gray4: hsl(0, 0%, 93%);
    --gray5: hsl(0, 0%, 90.9%);
    --gray6: hsl(0, 0%, 88.7%);
    --gray7: hsl(0, 0%, 85.8%);
    --gray8: hsl(0, 0%, 78%);
    --gray9: hsl(0, 0%, 56.1%);
    --gray10: hsl(0, 0%, 52.3%);
    --gray11: hsl(0, 0%, 43.5%);
    --gray12: hsl(0, 0%, 9%);

    --mauve1: hsl(300, 20%, 99%);
    --mauve2: hsl(300, 7.7%, 97.5%);
    --mauve3: hsl(294, 5.5%, 95.3%);
    --mauve4: hsl(289, 4.7%, 93.3%);
    --mauve5: hsl(283, 4.4%, 91.3%);
    --mauve6: hsl(278, 4.1%, 89.1%);
    --mauve7: hsl(271, 3.9%, 86.3%);
    --mauve8: hsl(255, 3.7%, 78.8%);
    --mauve9: hsl(252, 4%, 57.3%);
    --mauve10: hsl(253, 3.5%, 53.5%);
    --mauve11: hsl(252, 4%, 44.8%);
    --mauve12: hsl(260, 25%, 11%);

    --plum1: hsl(301, 20%, 9.4%);
    --plum2: hsl(300, 29.8%, 11.2%);
    --plum3: hsl(298, 34.4%, 15.3%);
    --plum4: hsl(297, 36.8%, 18.3%);
    --plum5: hsl(296, 38.5%, 21.1%);
    --plum6: hsl(295, 40.4%, 24.7%);
    --plum7: hsl(294, 42.7%, 30.6%);
    --plum8: hsl(292, 45.1%, 40%);
    --plum9: hsl(292, 45%, 51%);
    --plum10: hsl(295, 50%, 55.4%);
    --plum11: hsl(300, 60%, 62%);
    --plum12: hsl(296, 74%, 95.7%);

    --violet1: hsl(255, 65%, 99.4%);
    --violet2: hsl(252, 100%, 99%);
    --violet3: hsl(252, 96.9%, 97.4%);
    --violet4: hsl(252, 91.5%, 95.5%);
    --violet5: hsl(252, 85.1%, 93%);
    --violet6: hsl(252, 77.8%, 89.4%);
    --violet7: hsl(252, 71%, 83.7%);
    --violet8: hsl(252, 68.6%, 76.3%);
    --violet9: hsl(252, 56%, 57.5%);
    --violet10: hsl(251, 48.1%, 53.5%);
    --violet11: hsl(250, 43%, 48%);
    --violet12: hsl(254, 60%, 18.5%);

    /* custom colors */
    /* I tried, oh well */
    --bluegray1: hsl(225, 20%, 99%);
    --bluegray2: hsl(230, 25%, 98%);
    --bluegray3: hsl(230, 25%, 96%);
    --bluegray4: hsl(230, 25%, 92%);
    --bluegray5: hsl(230, 25%, 90%);
    --bluegray6: hsl(230, 25%, 78%);
    --bluegray7: hsl(230, 25%, 34%);
    --bluegray8: hsl(230, 25%, 13%);
    --bluegray9: hsl(230, 21%, 11%);
    --bluegray10: hsl(232, 25%, 10%);
    --bluegray11: hsl(235, 27%, 9%);
    --bluegray12: hsl(240, 30%, 8%);

    /* semantic tokens */
    --bg: var(--mauve4);
    --navBg: hsla(289, 4.7%, 93.3%, 0.85); /* bg with transparency */
    --navOpaqueBg: hsla(289, 4.7%, 93.3%, 0.99);
    --contentBg: var(--mauve1);

    --logoFg: var(--gray12);
    --logoBg: var(--transparent);
    --logoBorder: --transparent;

    --link: var(--plum8);
    --linkActive: var(--plum6);
    --linkOn: var(--plum4);

    --lightAccent: var(--violet11);
    --subtitle: var(--bluegray6);

    --codeBg: var(--mauve3);
    --codeTitle: var(--bluegray7);
    --codeTitleBg: var(--mauve5);
    --codeHighlight: var(--mauve6);
    --codeHighlightLeft: var(--violet10);
  }

  .dark {
    --gray1: hsl(0, 0%, 8.5%);
    --gray2: hsl(0, 0%, 11%);
    --gray3: hsl(0, 0%, 13.6%);
    --gray4: hsl(0, 0%, 15.8%);
    --gray5: hsl(0, 0%, 17.9%);
    --gray6: hsl(0, 0%, 20.5%);
    --gray7: hsl(0, 0%, 24.3%);
    --gray8: hsl(0, 0%, 31.2%);
    --gray9: hsl(0, 0%, 43.9%);
    --gray10: hsl(0, 0%, 49.4%);
    --gray11: hsl(0, 0%, 62.8%);
    --gray12: hsl(0, 0%, 93%);

    --mauve1: hsl(246, 6%, 9%);
    --mauve2: hsl(240, 5.1%, 11.6%);
    --mauve3: hsl(241, 5%, 14.3%);
    --mauve4: hsl(242, 4.9%, 16.5%);
    --mauve5: hsl(243, 4.9%, 18.8%);
    --mauve6: hsl(244, 4.9%, 21.5%);
    --mauve7: hsl(245, 4.9%, 25.4%);
    --mauve8: hsl(247, 4.8%, 32.5%);
    --mauve9: hsl(252, 4%, 45.2%);
    --mauve10: hsl(247, 3.4%, 50.7%);
    --mauve11: hsl(253, 4%, 63.7%);
    --mauve12: hsl(256, 6%, 93.2%);

    --plum1: hsl(292, 90%, 99.4%);
    --plum2: hsl(300, 100%, 98.6%);
    --plum3: hsl(299, 71.2%, 96.4%);
    --plum4: hsl(299, 62%, 93.8%);
    --plum5: hsl(298, 56.1%, 90.5%);
    --plum6: hsl(296, 51.3%, 85.8%);
    --plum7: hsl(295, 48.2%, 78.9%);
    --plum8: hsl(292, 47.7%, 70.8%);
    --plum9: hsl(292, 45%, 51%);
    --plum10: hsl(292, 50.2%, 46.9%);
    --plum11: hsl(292, 60%, 42.5%);
    --plum12: hsl(291, 66%, 14%);

    --violetA1: hsla(270, 94.3%, 34.6%, 0.012);
    --violetA2: hsla(252, 100%, 51%, 0.02);
    --violetA3: hsla(254, 100%, 50%, 0.051);
    --violetA4: hsla(251, 98.3%, 48.2%, 0.087);
    --violetA5: hsla(252, 99%, 45.7%, 0.13);
    --violetA6: hsla(251, 99.1%, 44%, 0.189);
    --violetA7: hsla(252, 99.5%, 41.7%, 0.279);
    --violetA8: hsla(252, 100%, 40.7%, 0.4);
    --violetA9: hsla(252, 99.9%, 35.8%, 0.663);
    --violetA10: hsla(251, 99.6%, 32.5%, 0.691);
    --violetA11: hsla(250, 99.8%, 28.4%, 0.726);
    --violetA12: hsla(254, 99.5%, 11.9%, 0.926);

    /* semantic tokens */
    --bg: var(--bluegray12);
    --navBg: hsla(240, 30%, 8%, 0.85);
    --navOpaqueBg: hsla(240, 30%, 8%, 0.99);
    --contentBg: var(--bluegray9);

    --link: var(--plum8);
    --linkActive: var(--plum6);
    --linkOn: var(--plum4);

    --lightAccent: var(--violet11);
    --subtitle: var(--bluegray6);

    --codeBg: var(--bluegray8);
    --codeTitle: var(--bluegray6);
    --codeTitleBg: var(--bluegray11);
    --codeHighlight: hsl(210, 100%, 50.3%);
    --codeHighlightLeft: var(--violet10);
  }
}

body {
  background-color: var(--bg);
}
